{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {%block title_block%}
    <title>City Schools</title>
    {%endblock%}
</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{%url 'schools:school_list' %}"> City Schools </a>&nbsp;
            <ul class="navbar-nav  mr-auto">
            {% if user.is_authenticated %}
            <li class="nav-item"> <a class="navbar-link" href="{% url 'schools:user_logout' %}"> Logout &nbsp;&nbsp;</a></li>&nbsp;&nbsp;
            <li class="nav-item"> <a class="navbar-link" href="{% url 'schools:create' %}"> Create School &nbsp;&nbsp;</a></li>&nbsp;
            <li class="nav-item"> <a class="navbar-link" href="{% url 'schools:std_create'%}"> Add Student </a></li>&nbsp;
            {%else%}
            <li class="navbar-link"> <a href="{% url 'schools:user_login' %}"> Login</a></li>&nbsp;
            {%endif%}
            </ul>
        </nav>
</body>
</html>
    {% block body_block %}
    {%endblock%}
