{%extends 'schools/base.html'%}
{% block title_block %} 
<title>{{school_detail}}</title>
{%endblock%}

{%block body_block %}

    <div class="jumbotron jumbotron-fluid">
        <div class=container> 
{%if school_detail %}
                <h2 class="display-3"><span id='scl_name'>{{school_detail.name | title}} </span> School</h2> <br>
                <hr class="my-4">
                <h4><b> Manager:</b> {{school_detail.manager}}</h4>
                <h4><b>Location:</b> {{school_detail.location}}</h4>
                <h4><b>Students Number: </b> {{students_number}}</h4>
                {%if user.is_authenticated %}
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-warning">             
                        <a href="{% url 'schools:update' pk=school_detail.pk %}">Update School</a>
                    </button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-danger">
                        <a href="{% url 'schools:delete' pk=school_detail.pk %}">Delete School</a>
                    </button>
                    <br>
                {%endif%}
        </div>
    </div>
    {%if user.is_authenticated %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Students:</h1>
          <p class="lead">These is the students of {{school_detail.name}} school</p>
          <div class="table-responsive">
            <table class="table table-sm" >
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th  scope="col">Name</th>
                      <th scope="col">Age</th>
                      <th scope="col">Edit</th>
                      <!--<th scope="col">Level</th>-->
                    </tr>
                </thead>
                        Students: {% for student in school_detail.students.all %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{student.name}}</td>
                            <td>{{student.age}}</td>
                            <td>Edit <a href="/schools/student/{{student.id}}">{{student.name}}</a></td>
                        </tr>
                                {%endfor%}
            </table>
        </div>   

        </div></div>

    <div>
        {%else%}
        <div class="alert alert-info" id='manager_alert' role="alert">
            IF you are manger login for more details
        </div>
        {%endif%}
    </div>

{%else%}
<h1>No Details Avaible Now!</h1>
{%endif%}

{%endblock%}
