{%extends 'schools/base.html'%}
    {% block title_block %}
    <title>{{std_detail}} Delete </title>
    {%endblock%}

{%block body_block %}
<div class="container">
<div class="jumbotron jumbotron-fluid"> 
    <h1> Delete {{student.name}}</h1><br>
    <form  method="post">
    {%csrf_token%}
    <input type="submit" class="btn btn-danger" value="Delete">&nbsp;
    <button type="button" class="btn btn-secondary"><a href="{% url 'schools:std_detail' pk=student.pk %}"> Cancel</a></button>
    </form>
</div>


</div>

{%endblock%}